/* Hive */
.axis {
  stroke:               black;
  stroke-width:         3px;
}

.node ellipse                     { stroke:         #336699;   }
.node ellipse[class^="active_"]   { stroke-width:   6px;    }
.node ellipse.active_ib           { stroke:         #F7A5A8;   }
.node ellipse.active_im           { stroke:         #F7A5A8;  }
.node ellipse.active_mo           { stroke:         #F7A5A8;    }

.link {
  fill:                           none;
  stroke:                         #999;
  stroke-opacity:                 0.3;
  stroke-width:                   2px;
}

.link.active_ib, .link.active_im, .link.active_mo {
  stroke-opacity:                 1;
  stroke-width:                   6px;
}

.link.active_ib                   { stroke:       #F7A5A8;   }
.link.active_im                   { stroke:       #F7A5A8;  }
.link.active_mo                   { stroke:       #F7A5A8;    }

.notes .ib                        { color:        black;   }
.notes .im                        { color:        black;  }
.notes .mo                        { color:        black;    }
